.messageWindow {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-end; */

  flex: 1;
  min-height: 0;

  padding: 16px;

  overflow-y: auto;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  max-width: 70%;
}

.rightWrapper {
  align-self: flex-end;
  align-items: flex-end;
}

.messageDate {
  font-size: 0.75rem;
  color: black;
  margin-bottom: 4px;
  opacity: 0.8;
  padding: 0 4px;
}

.message {
  list-style-type: none;

  border-radius: 18px;
  background-color: var(--ebony);

  padding: 10px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: var(--pale-sky);
}

.right {
  background-color: var(--hunter-green);
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}
/* ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
} */
::-webkit-scrollbar-thumb {
  background: var(--evergreen);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 56, 36, 0.8);
}
