.chatList {
  padding: 0;
  overflow: auto;
}
.chat {
  list-style: none;
}
.selected {
  background-color: aqua;
}

.sidebarSplit {
  display: flex;
  flex-direction: column;
}

.chatListHalf {
  flex: 1;
}
.searchListHalf {
  height: 50%;
}
