.chatList {
  padding: 0;
  overflow: auto;
}
.chat {
  list-style: none;
  margin-bottom: 5px;

  border: solid 2px var(--hunter-green);
  border-radius: 6px;
  padding: 5px 10px;
  background-color: var(--hunter-green);
  color: var(--pale-sky);
}
.selected {
  border: solid 2px var(--hunter-green);
  background-color: rgb(42, 59, 39);
}

.sidebarSplit {
  display: flex;
  flex-direction: column;
}

.chatListHalf {
  flex: 1;
}
.searchListHalf {
  height: 50%;
}

.findButton {
  width: 100%;
}
