/* div {
  border: solid black 1px;
} */

:global(html, body, #root) {
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--cool-steel);
}

.main {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  overflow: hidden;
  background-image: url("../assets/forest_mist.png");
  background-size: cover;
  background-position: center;
}

.header {
  grid-column: 1/3;
  grid-row: 1/2;
  align-content: center;

  padding: 0px 20px;
  background-color: hsla(145, 6%, 41%, 0.8);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.sidebar {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow-y: auto;

  padding: 20px;
  margin: 10px;
  /* z-index: 1; */

  background-color: hsla(99, 19%, 27%, 0.6);
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);

  border-radius: 12px;
  border: solid 2px var(--hunter-green);
}

.messageList {
  grid-row: 2/3;
  grid-column: 2/3;
  height: 100%;

  min-height: 0;
}
