.header {
  border: solid black 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userContainer{
    display: flex;
}

.appTitle {
}

.username {
}

.logoutButton {
}
